<launch>
    <!-- Params -->
    <!-- <arg name="robot_name" default="xiroi"/> -->

    <!-- Flags -->
    <arg name="enableAcousticLinkMonitoring" default="true"/>

    <!-- ACOUSTIC MODEM LINK MONITORING -->
    <group if="$(arg enableAcousticLinkMonitoring)">
        <node name="acoustic_modem_quality" pkg="link_quality" type="modem_quality.py" output="screen"/> 
    </group>
</launch>