<launch>
    <!-- Params -->
    <arg name="robot_name" default="xiroi"/>
    <arg name="host_name" default="192.168.1.225"/>

    <!-- Flags -->
    <arg name="enableWirelessLinkMonitoring" default="true"/>

    <!-- WIRELESS LINK MONITORING -->
    <group if="$(arg enableWirelessLinkMonitoring)">
        <node name="wireless_quality" pkg="cola2_xiroi" type="wireless_quality.py" output="screen"> 
            <param name="host_name" value="$(arg host_name)"/>
            <param name="username" value="ubnt"/>
            <param name="password" value="undereaterpass"/>
        </node> 
    </group>
</launch>